<div class="container">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>id</th>
        <th>size</th>
        <th>path</th>
        <th>type</th>
        <th>name</th>
        <th>encoding</th>
        <th>url</th>
        <th>private</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
      {{#each file in model}}
        <tr>
          <td>{{file.id}}</td>
          <td>{{file.size}}</td>
          <td>{{file.path}}</td>
          <td>{{file.type}}</td>
          <td>{{file.name}}</td>
          <td>{{file.encoding}}</td>
          <td>{{file.url}}</td>
          <td>{{file.private}}</td>
          <td>{{file.created_at}}</td>
          <td>{{file.updated_at}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
