<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>
        <span class="icon ion-compose"> </span> Ok, let's do this.</h4>
      <form>
        <div class="form-group">
          <label>Title</label>
          {{input label="Title" value=post.title class="form-control"}}
        </div>
        <div class="form-group">
          <label>Content</label>
          {{textarea label="Content" value=post.content rows=5 class="form-control"}}
        </div>
        <div class="checkbox">
          <label>
             {{input type="checkbox" checked=post.private}} Private?
          </label>
        </div>
        <div class="form-actions">
          <input disabled= {{isntValid}} type="submit" class="btn btn-default" value="Post">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h4>
        <span class="icon ion-chatbubble"> </span> {{post.title}}
        <small> Live Preview</small>
      </h4>
      {{format-markdown post.content}}
    </div>
  </div>
</div>
