<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>
        <span class="icon ion-plus"> </span> Ok, let's do this.</h4>
      {{#em-form model=post submit_button=false}}
        {{em-input label="Title" property="title" placeholder="What you callin' this one?..."}}
        {{em-checkbox label="Private?" property="private"}}
        {{em-text label="Content" property="content" rows=5 placeholder="What's ur muse?..."}}
        <div class="form-actions">
          <input {{bind-attr disabled=isntValid}} type="submit" class="btn" value="Post">
        </div>
      {{/em-form}}
    </div>
    <div class="col-md-6">
      <h4>
        <span class="icon ion-chatbubble"> </span> {{post.title}}
        <small> Live Preview</small>
      </h4>
      {{format-markdown post.content}}
    </div>
  </div>
</div>
