<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>
        <span class="icon ion-plus"> </span> Ok, let's do this.</h4>
        <form>
          <div class="form-group">
            <label>Title</label>
            {{input label="Title" value=post.title class="form-control"}}
          </div>
          <div class="form-group">
            <label>Content</label>
            {{textarea label="Content" value=post.content rows=5 class="form-control"}}
          </div>
          <div class="checkbox">
            <label>
               {{input type="checkbox" checked=post.private}} Private?
            </label>
          </div>
          <div class="form-actions">
            <button {{action "submit"}} type="button" class="btn btn-primary">Post</button>
          </div>
        </form>
    </div>
    <div class="col-md-6">
      <h4>
        <span class="icon ion-chatbubble"> </span> {{post.title}}
        <small> Live Preview</small>
      </h4>
      {{showdown-addon post.content}}
    </div>
  </div>
</div>
