<div class="container">
  <div class="page-header">
    <h2>
      <span class="mega-octicon octicon-code"></span> Projects
      <br>
      <small>A few projects on which I've worked</small>
    </h2>
  </div>
  <p>
    <h3><a href="https://github.com/selbyk/pagesim">pagesim</a>
      <small> / {{ago 'May 17, 2015' 'MMM DD, YYYY'}}</small>
    </h3>
  </p>
  <p>
    C page algorithm simulator to compare paging commonly used algorithms in
    operating system memory management, originally a programming assignment for
    Operating Systems.
  </p>
  <p>
    <h3><a href="https://pantry-pal.herokuapp.com/">Pantry Pal</a>
      <small> / {{ago 'Nov 25, 2014' 'MMM DD, YYYY'}}</small>
    </h3>
  </p>
  <p>
    Ember.js/Node.js recipe ingredient inventory manager for Database Design.
  </p>
  <p>
    <h3><a href="https://lsu-scheduler.herokuapp.com">LSU Scheduler</a>
      <small> / {{ago 'Oct 29, 2014' 'MMM DD, YYYY'}}</small>
    </h3>
  </p>
  <p>
    Ember.js/Node.js LSU scheduling assistant for Software Engineering.
  </p>
  <p>
    <h3><a href="https://gora.herokuapp.com/">Agora</a>
      <small> / {{ago 'Feb 21, 2014' 'MMM DD, YYYY'}}</small>
    </h3>
  </p>
  <p>
    Ruby on Rails code snippet sharing website for Software Design.
  </p>
  <p>
    <h3><a href="https://github.com/selbyk/colors_in_image">colors_in_image</a>
      <small> / {{ago 'Feb 23, 2013' 'MMM DD, YYYY'}}</small>
    </h3>
  </p>
  <p>
    C++ program to detect dominate colors of the focal point of an image.
  </p>
  <p>
    <h3><a href="http://sparehanger.com/">sparehanger</a>
      <small> / {{ago 'April 2011' 'MMMM YYYY'}}</small>
    </h3>
    <a href="http://keletaire.github.io/">Keletaire, Inc.</a>
  </p>
  <p>
    I help create sparehager, a new way to find and share clothes and outfits,
    and help manage the stack so it is as stable and snappy as possible. Built
    with Ember.js, Node.js, Sequelize, ElasticSearch, and Yii (PHP).
  </p>
  <p>
    <h3><a href="http://web.archive.org/web/20090204010714/http://schoolshare.ipterminal.com/">schoolshare</a> (Wayback Archive)
      <small> / {{ago '2 Feb 07' 'DD MMM YY'}}</small>
    </h3>
  </p>
  <p>
    A simple PHP/MySQL before-its-time "cloud file-sharing webapp" similar to
    Dropbox could transfer files as freshmen between home and school because the
    use of flashdrives was forbidden. It was used by a few dozen students to
    share a few hundred files while I attended WFHS.
  </p>
  <p>
    <h3><a href="https://addons.mozilla.org/en-US/firefox/addon/cacheit/">CacheIt!</a>
      <small> / {{ago 'December 17, 2005' 'MMMM DD, YYYY'}}</small>
    </h3>
  </p>
  <p>
    I wrote the Firefox extension CacheIt! so cached copies of websites were a
    click away because the news sites (Digg & Slashdot) would freuqently cause
    them to crash.
  </p>
  <p>
    <h3><a href="http://web.archive.org/web/20070429111748/http://www.ipterminal.com/about.php">ipterminal.com</a> (Wayback Archive)
      <small> / {{ago '2005' 'DD MMM YY'}}</small>
    </h3>
  </p>
  <p>
    A little PHP tool I made to quickly check my IP address and use as a search
    portal.
  </p>
  <p>
    <h3><a href="http://web.archive.org/web/20060430022156/http://www.selbyk.com/about.php">selbyk.com</a> (Wayback Archive)
      <small> / {{ago '2005' 'YYYY'}}</small>
    </h3>
  </p>
  <p>
    An archived version of my first website I created using a text editor in 7th
    grade.
  </p>
</div>
