<div class="container">
  <div class="page-header">
    <h2>
      <span class="mega-octicon octicon-code"></span> Projects
      <br>
      <small>A few projects on which I've worked</small>
    </h2>
  </div>
  <p>
    <h4><a href="https://pantry-pal.herokuapp.com/">Pantry Pal</a>
      <small> / {{ago 'Nov 25, 2014' 'MMM DD, YYYY'}}</small>
    </h4>
    LSU CSC 4404 (Database Design)
  </p>
  <p>
    Webapp to manage a grocery list based on ingredients required by recipes. (WIP)
  </p>
  <p>
    <h4><a href="https://lsu-scheduler.herokuapp.com">LSU Scheduler</a>
      <small> / {{ago 'Oct 29, 2014' 'MMM DD, YYYY'}}</small>
    </h4>
    LSU CSC 4430 (Software Engineering)
  </p>
  <p>
    LSU scheduling assistant. (WIP)
  </p>
  <p>
    <h4><a href="https://gora.herokuapp.com/">Agora</a>
      <small> / {{ago 'Feb 21, 2014' 'MMM DD, YYYY'}}</small>
    </h4>
    LSU CSC 3330 (Software Design)
  </p>
  <p>
    code snippet sharing
  </p>
  <p>
    <h4><a href="https://github.com/selbyk/colors_in_image">colors_in_image</a>
      <small> / {{ago 'Feb 23, 2013' 'MMM DD, YYYY'}}</small>
    </h4>
  </p>
  <p>
    C++ program to detect dominate colors in an image
  </p>
  <p>
    <h4><a href="http://sparehanger.com/">sparehanger</a>
      <small> / {{ago 'April 2011' 'MMMM YYYY'}}</small>
    </h4>
    <a href="http://keletaire.github.io/">Keletaire, Inc.</a>
  </p>
  <p>
    I help create sparehager, a new way to find and share clothes and outfits, and help manage the stack so it is as stable and snappy as possible.
  </p>
  <p>
    <h4><a href="http://web.archive.org/web/20090204010714/http://schoolshare.ipterminal.com/">schoolshare</a> (Wayback Archive)
      <small> / {{ago '2 Feb 07' 'DD MMM YY'}}</small>
    </h4>
  </p>
  <p>
    A simple before-its-time "cloud file-sharing webapp" similar to Dropbox could transfer files as freshmen between home and school because the use of flashdrives was forbidden. It was used by a few dozen students to share a few hundred files while I attended
    WFHS.
  </p>
  <p>
    <h4><a href="https://addons.mozilla.org/en-US/firefox/addon/cacheit/">CacheIt!</a>
      <small> / {{ago 'December 17, 2005' 'MMMM DD, YYYY'}}</small>
    </h4>
  </p>
  <p>
    As a freshman at West Feliciana High School (WFHS) I was a big fan of Digg and Slashdot. Tired of dealing with server crashes of posted links, I wrote the Firefox extension CacheIt! so cached copies were a click away.
  </p>
  <p>
    <h4><a href="http://web.archive.org/web/20070429111748/http://www.ipterminal.com/about.php">ipterminal.com</a> (Wayback Archive)
      <small> / {{ago '2005' 'DD MMM YY'}}</small>
    </h4>
  </p>
  <p>
    A little tool I made to quickly check my IP address where ever happened to be
  </p>
  <p>
    <h4><a href="http://web.archive.org/web/20060430022156/http://www.selbyk.com/about.php">selbyk.com</a> (Wayback Archive)
      <small> / {{ago '2005' 'YYYY'}}</small>
    </h4>
  </p>
  <p>
    You can check out an archived version of my first website
  </p>
</div>
