<div class='text-center'>
  {{page-numbers content=this numPagesToShow=6}}
</div>

{{#each item in this}}
  {{#if item.title}}
    {{#if item.domain}}
      <h4> <a href={{item.url}} target="_blank">{{item.title}}</a>
        <small> ({{item.domain}}) </small>
      </h4>
    {{else}}
      <h4> <a href={{item.commentsUrl}} target="_blank">{{item.title}}</a></h4>
    {{/if}}
    <small class="text-right">
      {{#unless item.isJob}}
        <span>{{item.score}} points</span> by <a href={{item.authorUrl}} target="_blank">{{item.by}}</a> {{/unless}}{{item.publishedDate}}
      {{#unless item.isJob}} | <a href={{item.commentsUrl}} target="_blank">comments</a>{{/unless}}
    </small>
    <hr>
  {{/if}}
{{/each}}

<div class='text-center'>
  {{page-numbers content=this numPagesToShow=6}}
</div>
