<div class="container top">
  <h1 class="name-tag hidden">
    <span class="icon ion-man"> Selby Kendrick</span>
  </h1>
  <div class="col-xs-4">
    <button class="logo-backdrop" {{action 'toTop'}}>
        <span class="logo-text logo-sm visible-xs">selby.io</span>
        <span class="logo-text hidden-xs hidden-lg">selby.io</span>
        <span class="logo-text logo-lg visible-lg">selby.io</span>
        <h6>Top <span class="icon ion-chevron-up"> </span></h6>
    </button>
  </div>
  <div class="row pull-right">
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'index' class='navigation'}}
        <h3><span class="icon ion-power"> </span></h3>
        <h6>News</h6>
      {{/link-to}}
    </div>
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'posts' class='navigation'}}
        <h3><span class="icon ion-chatbubble"> </span></h3>
        <h6>Blog</h6>
      {{/link-to}}
    </div>
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'todo' class='navigation'}}
        <h3><span class="icon ion-navicon"> </span></h3>
        <h6>Todo</h6>
      {{/link-to}}
    </div>
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'about' class='navigation'}}
        <h3><span class="icon ion-information-circled"> </span></h3>
        <h6>About</h6>
      {{/link-to}}
    </div>
  </div>
  <div class="row clearfix"></div>
  <div class="row col-xs-12">
    <small>{{currentTime}}</small>
    <small class="hidden-xs">You've been here {{currentDuration}}.</small>
    <small class="pull-right">
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </small>
  </div>
</div>

{{outlet}}

<div id="copyright" class="text-center">
  <div class="top">
    <h4>...as simple as possible, but not simpler.</h4>
    <br>
    <h5>- Albert Einstein</h5>
  </div>
  <div class="middle container">
      <div class="col-xs-3">
        <a href="http://www.linkedin.com/pub/selby-kendrick/50/289/650" alt="LinkedIn" target="_blank">
          <span>
            <h3><i class="icon ion-social-linkedin"></i></h3>
            <h4>LinkedIn</h4>
          </span>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="https://github.com/selbyk" alt="GitHub" target="_blank">
          <span>
            <h3><i class="icon ion-social-github"></i></h3>
            <h4>GitHub</h4>
          </span>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="http://www.last.fm/user/n344853835" alt="Lastfm" target="_blank">
          <span>
            <h3><i class="icon ion-headphone"></i></h3>
            <h4>Lastfm</h4>
          </span>
        </a>
      </div>
      <div class="col-xs-3">
        <a href="mailto:selby.kendrick@gmail.com" alt="E-mail Me" target="_blank">
          <span>
            <h3><i class="icon ion-email"></i></h3>
            <h4>Email</h4>
          </span>
        </a>
      </div>
  </div>
  <div class="bottom">
    <h3>&copy 2014-{{moment date 'YYYY'}} Selby Kendrick</h3>
    <br>
    <h4>You can find the source to this page and some of my other projects on <a href="https://github.com/selbyk"><span class="icon ion-social-github"></span> GitHub</a>.</h4>
    <br>
    <h5><a href="https://developers.google.com/speed/pagespeed/insights/?url=selby.io&tab=desktop" target="_blank">How am I doing?</a></h5>
  </div>
</div>
