<div id="header" class="container top">
  <h1 class="name-tag hidden">
    <span class="icon ion-man"> Selby Kendrick</span>
  </h1>
  <div id="time" class="row col-xs-12 text-right">
    <small>{{currentTime}}</small>
  </div>
  <div class="col-xs-4">
    <button class="logo-backdrop" {{action 'toTop'}}>
      <span class="logo-text logo-sm visible-xs">selby.io</span>
      <span class="logo-text hidden-xs hidden-lg">selby.io</span>
      <span class="logo-text logo-lg visible-lg">selby.io</span>
      <h6>Top
        <span class="icon ion-chevron-up"> </span>
      </h6>
    </button>
  </div>
  <div id="top-nav" class="row pull-right">
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'index' classNameBindings=":navigation isNews:activated" }}
        <h3>
          <span class="mega-octicon octicon-globe"></span>
        </h3>
        <h6>News</h6>
      {{/link-to}}
    </div>
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'posts' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-terminal"> </span>
        </h3>
        <h6>Blog</h6>
      {{/link-to}}
    </div>
    <div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'about' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-info"> </span>
        </h3>
        <h6>About</h6>
      {{/link-to}}
    </div>
    <!--<div class="col-xs-3 col-sm-3 text-center">
      {{#link-to 'about.projects' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-code"> </span>
        </h3>
        <h6>Projects</h6>
      {{/link-to}}
    </div>
    <div class="dropdown col-xs-3 col-sm-3 text-center">
      <span class="navigation dropdown-toggle" type="button" id="moreMenu" data-toggle="dropdown">
        <h3><span class="mega-octicon octicon-chevron-down"> </span></h3>
        <h6>More</h6>
      </span>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="moreMenu">
        <li role="presentation">{{#link-to 'about.tools' class='navigation' tabindex="-1" role="menuitem"}}<span class="mega-octicon octicon-database"> </span> Tools{{/link-to}}</li>
        <li role="presentation">{{#link-to 'stats' class='navigation' tabindex="-1" role="menuitem"}}<span class="mega-octicon octicon-dashboard"> </span> Server Stats{{/link-to}}</li>
        <li role="presentation">{{#link-to 'todo' class='navigation' tabindex="-1" role="menuitem"}}<span class="mega-octicon octicon-checklist"> </span> Todo (WIP){{/link-to}}</li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">{{#link-to 'about' class='navigation' tabindex="-1" role="menuitem"}}<span class="mega-octicon octicon-info"> </span> About{{/link-to}}</li>
      </ul>
    </div>-->
  </div>
</div>

{{outlet}}

<div id="copyright" class="text-center">
  <div class="top">
    <h4>...as simple as possible, but not simpler.</h4>
    <br>
    <h5>- Albert Einstein</h5>
  </div>
  <div class="middle">
    <h3>&copy; 2014-{{moment date 'YYYY'}} Selby Kendrick</h3>
  </div>
  <div class="bottom">
    <h4>You can find the source to this page and some of my other projects on
      <a href="https://github.com/selbyk">
        <span class="icon ion-social-github"></span> GitHub</a>.</h4>
    <br>
    <h5>
      CPU: {{stats.loadpercent}}% - Mem Used: {{stats.mempercent}}% - Uptime: {{stats.uptime}}
      <small>
        {{#link-to 'about.server'}} More...{{/link-to}}
      </small>
    </h5>
    <br>
    <h4><a href="https://developers.google.com/speed/pagespeed/insights/?url=selby.io&tab=desktop" target="_blank">How am I doing?</a></h4>
    <small>You've been here {{currentDuration}}. -
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login (This probably isn't for you.){{/link-to}}
      {{/if}}
    </small>
  </div>
</div>
