<div class="container">
  <div class="page-header">
    <h2>
      <span class="icon ion-social-hackernews"> </span> <a href="https://news.ycombinator.com/">Hacker News</a></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <ul class="nav nav-pills">
          {{#link-to 'hn.index' role="presentation" tagName="li" href=false}}
            <a href= {{view.href}}>
          Top
        </a>
          {{/link-to}}
          {{#link-to 'hn.new' tagName="li" href=false}}
            <a href= {{view.href}}>
          New
        </a>
          {{/link-to}}
          {{#link-to 'hn.ask' tagName="li" href=false}}
            <a href= {{view.href}}>
          Ask HN
        </a>
          {{/link-to}}
          {{#link-to 'hn.show' tagName="li" href=false}}
            <a href= {{view.href}}>
          Show HN
        </a>
          {{/link-to}}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="input-group">
          <span class="input-group-addon octicon octicon-search"></span>
          {{input action="hnSearch" class="form-control" placeholder="Search..."}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>
