<div class="container jumbotron">
  <div class="page-header">
    <h2><span class="icon ion-power"> </span> Hello, world!</h2>
  </div>
  <p>This is a playground for ideas, so play around. Break something if you can, but it'd be cool if you let me know how you did it.</p>
  <p>Thanks for visiting!</p>
  <p>-Selby</p>
</div>
<div class="container">
  <div class="page-header">
    <h2><span class="icon ion-social-hackernews"> </span> <a href="https://news.ycombinator.com/">Hacker News</a></h2>
  </div>
  {{#each item in model}}
      {{#if item.title}}
              {{#if item.isUrl}}
                <h4> <a {{bind-attr href=item.url}}>{{item.title}}</a><small> ({{item.domain}}) </small></h4>
              {{else}}
                <h4> <a {{bind-attr href=item.commentsUrl}}>{{item.title}}</a></h4>
              {{/if}}
              <p class="text-right">
                {{#unless item.isJob}}<span>{{item.score}} points</span> by <a {{bind-attr href=item.authorUrl}}>{{item.by}}</a> {{/unless}}{{item.publishedDate}}{{#unless item.isJob}} | <a {{bind-attr href=item.commentsUrl}}>comments</a>{{/unless}}
              </p>
              <hr>
      {{/if}}
  {{/each}}
</div>
