<div class="container">
  <div class="page-header">
    <h1><span class="icon ion-paper-airplane"> </span> Projects  <small> Some things I've worked on</small></h1>
  </div>
  <p>
    <strong>{{ago 'Nov 25, 2014' 'MMM DD, YYYY'}}</strong> / <a href="https://pantry-pal.herokuapp.com/">Pantry Pal</a>
    <br>
    LSU CSC 4404 (Database Design)
    <br>
    Webapp to manage a grocery list based on ingredients required by recipes. (WIP)
  </p>
  <p><strong>{{ago 'Oct 29, 2014' 'MMM DD, YYYY'}}</strong> / <a href="https://lsu-scheduler.herokuapp.com">LSU Scheduler</a>
  <br>LSU CSC 4430 (Software Engineering)
  <br>LSU scheduling assistant. (WIP)
  </p>
  <p><strong>{{ago 'Feb 21, 2014' 'MMM DD, YYYY'}}</strong> / <a href="http://www.codeagora.co/">Agora</a>
  <br>LSU CSC 3330 (Software Design)
  <br>code snippet sharing </p>
  <p><strong>{{ago 'Feb 23, 2013' 'MMM DD, YYYY'}}</strong> / <a href="https://github.com/selbyk/colors_in_image">colors_in_image</a>
  <br>this was fun C++ to detect dominate colors in an image</p>
  <p><strong>{{ago 'April 2011' 'MMMM YYYY'}}</strong> / <a href="http://sparehanger.com/">sparehanger</a>
  <br><a href="http://keletaire.github.io/">Keletaire, Inc.</a>
  <br>helped create sparehanger, a new way to find your style, from the ground up</p>
  <p><strong>{{ago '2 Feb 07' 'DD MMM YY'}}</strong> / <a href="http://web.archive.org/web/20090204010714/http://schoolshare.ipterminal.com/">schoolshare</a>
  <br>first app that was used by a few kids in middle school to share files from home to school (Wayback Archive)</p>
  <p><strong>{{ago 'December 17, 2005' 'MMMM DD, YYYY'}}</strong> / <a href="https://addons.mozilla.org/en-US/firefox/addon/cacheit/">CacheIt!</a>
  <br>first app used by a few thousand people to navigate to the cache of dead webpages</p>
  <p><strong>{{ago '2005' 'DD MMM YY'}}</strong> / <a href="http://web.archive.org/web/20070429111748/http://www.ipterminal.com/about.php">ipterminal.com</a>
  <br>First "useful" tool to tell me my ip address (Wayback Archive)</p>
  <p><strong>{{ago '2005' 'YYYY'}}</strong> / <a href="http://web.archive.org/web/20060430022156/http://www.selbyk.com/about.php">selbyk.com</a>
  <br>First Personal Page (Wayback Archive)</p>
  <p class="text-center">* A complete list of my open-source projects and contributions can be found on <a href="https://github.com/selbyk"><span class="icon ion-social-github"></span> GitHub</a>.</p>
</div>
