<div class="container">
  <div class="page-header">
    <h2>Server Stats</h2>
    <p>Wondering how the server is doing with its current load?</p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>CPU Usage</h3>
      {{radial-progress value=controllers.application.stats.loadpercent}}
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Memory Usage</h3>
      {{radial-progress value=controllers.application.stats.mempercent}}
    </div>
  </div>
  <div class="row">
    <div class="list-group">
      <li href="#" class="list-group-item disabled lead">
        <h3>System Info</h3>
      </li>
      <li href="#" class="list-group-item"><strong>Type:</strong> {{controllers.application.stats.type}}</li>
      <li href="#" class="list-group-item"><strong>Arch:</strong> {{controllers.application.stats.arch}}</li>
      <li href="#" class="list-group-item"><strong>Platform:</strong> {{controllers.application.stats.platform}}</li>
      <li href="#" class="list-group-item"><strong>Release:</strong> {{controllers.application.stats.release}}</li>
      <li href="#" class="list-group-item"><strong>Total Memory:</strong> {{controllers.application.stats.totalmem}}</li>
      <li href="#" class="list-group-item"><strong>Free Memory:</strong> {{controllers.application.stats.freemem}}</li>
      <li href="#" class="list-group-item"><strong>Uptime:</strong> {{controllers.application.stats.uptime}}</li>
    </div>
  </div>
</div>
